
#board { 
  empty-cells: show;
  border-spacing: 1px;
}

#board td { 
  border: solid #ffffff 1px;
  width: 50px;
  height: 50px; 
}

#board .playable { 
  border: solid  #ff0000 1px;
}

#board .playable:hover { 
  cursor: pointer;
  border: solid  #0000FF 1px;
}

#board .empty { 
  background-image: url("images/empty.png"); 
}

#board .white { 
  background-image: url("images/white.png");
}

.black { 
  background-image: url("images/black.png");
}